

* {
    font-family: "Fira Sans", 'Outfit','Young Serif', sans-serif;
    margin: 0;
    
    box-sizing: border-box;
    
    
   
}

.contenedor {
    background-color: hsl(30, 54%, 90%);
    padding-block: 6rem;
}

